@model IEnumerable<WebApplication4.Models.Row>

<div class="row g-3">
    <div class="col-md-12 ">

        <table class="table border border-secondary">
    <thead>
        <tr>
            <th class="col-2">
                Id
            </th>
            <th class="col-2">
                Quantity
            </th>
            <th class="col-2">
                Price
            </th>
            <th class="col-4">
                Material
            </th>
            <th class="col-2">
                <a href="../../Rows/Create?OrderId=@(Model.First().OrderId)" class="btn btn-success btn-sm">Add a new Row</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RowId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RowId">Edit</a> |
                    @*<a asp-action="Delete" asp-route="../Rows/Delete" asp-route-id="@item.RowId">Delete</a>*@
                    <a href="../../Rows/Delete/@item.RowId">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
</div>
</div>